# 把这一行改成你的 Gitee latest.json 原始文件地址。
# 示例：
# https://gitee.com/optimistic-little-sunspot/hr-toolkit/raw/main/release/latest.json
https://gitee.com/optimistic-little-sunspot/hr-toolkit/raw/main/release/latest.json
